/* CSS 초기화 */
@import "./normalize.css";

/* 폰트 추가 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 색상 변수 */
:root {
  --black: #121212;
  --primary-text: #aaa;
  --secondary-text: #444;
  --primary-bg: #eaeaea;
  --secondary--bg: #f5f5f5;
  --orange: #e74f4f;
}

/* ------------------------------------------------- */
/* 애니메이션 키프레임 생성 */
@keyframes bounce {
  0% {
    scale: 80%;
  }
  50% {
    scale: 100%;
  }
  100% {
    scale: 80%;
  }
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--primary-text);
  }
}
/* ------------------------------------------------- */

/* 헤더 스타일 */
header {
  width: 100%;
  background-color: var(--black);
  position: fixed;
  z-index: 3;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
header nav h1 {
  color: var(--primary-text);
  margin: 15px;
  margin-left: 20px;
}
header nav div a {
  color: var(--primary-text);
  margin: 15px;
  font-weight: 500;
}

/* ------------------------------------------------- */

/* body의 section 공용 스타일 */
body section {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 모든 section 내 div의 가로 폭 지정 */
body section div {
  width: 70%;
}
/* section.introduction 컴포넌트가 화면 전체를 채우도록 변경 */
body .introduction {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* 홀수번째 section 배경은 살짝 회색 */
body section:nth-of-type(2n-1) {
  background-color: var(--primary-bg);
}
/* 짝수번째 section 배경은 완전 흰색 */
body section:nth-of-type(2n) {
  background-color: var(--secondary--bg);
}
/* introduction section 배경은 검정색으로 */
body section.introduction {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 0px;
}
/* 백그라운드(z-index: 0) 동영상 배치하고 화면에 꽉 차게 지정 */
body section.introduction video {
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  z-index: 0;
}
/* 백그라운드 동영상 위에 어두운 필터 깔아줌 */
body section.introduction .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* 백그라운드 동영상 위로 올라갈 텍스트 담긴 div 스타일링 */
.introduction .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------- */
/* 전체 폰트 지정 */
h1,
h2,
h3,
h4,
p,
a,
label,
input {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}
/* introduction section 내 텍스트만 하얀색으로 */
.introduction .content h1,
.introduction .content h2,
.introduction .content h3,
.introduction .content h4,
.introduction .content p {
  color: var(--primary-text);
  margin-bottom: 10px;
}
/* 텍스트 크기 및 여백 지정 */
body section h1 {
  color: var(--secondary-text);
  font-size: 45px;
  padding: 5px;
}
body section h2 {
  color: var(--secondary-text);
  font-size: 40px;
  padding: 5px;
}
body section h3 {
  color: var(--secondary-text);
  font-size: 35px;
  padding: 5px;
}
body section h4 {
  color: var(--secondary-text);
  font-size: 25px;
  padding: 5px;
}
body section p {
  color: var(--secondary-text);
  font-size: 20px;
  padding: 5px;
}
/* 텍스트 강조용 span 스타일 */
body section span {
  color: var(--orange);
  font-weight: bold;
}
/* label, input 태그 스타일 */
body section label,
body section input {
  color: var(--secondary-text);
}

/* Font Aweasome 관련 스타일 */
i {
  color: var(--secondary-text);
  font-size: 50px;
  display: block;
  align-content: center;
  padding: 10px;
}
i:hover,
a:hover,
nav h1:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
}
/* introduction 하단에 배치한 아래방향 화살표 아이콘 */
i#mouse-icon {
  color: var(--primary-text);
  position: absolute;
  bottom: 40px;
  animation: bounce 2s ease-in-out infinite;
  z-index: 1;
}
i#mouse-icon:hover {
  transform: none;
  transition: none;
}
/* 커서 깜빡이는 스타일 적용 */
#cursor {
  font-weight: bold;
  margin-left: 3px;
  animation: blink 0.7s step-end infinite;
  padding-bottom: 11px;
}

/* ------------------------------------------------- */
/* section.features 관련 스타일 */
/* section 내 아이템 컨테이너 스타일 */
body section .item-container {
  display: flex;
  justify-content: center;
}
/* 아이템 컨테이너 내 요소들은 가로로 배치되고 동일 폭을 가짐 */
body section .item-container div {
  flex: 1;
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
}
/* 아이템 컨테이너 내 div 내 img에 border 적용 */
.item-container div img {
  border-radius: 15px;
  overflow: hidden;
}
/* 아이템 컨테이너 내 div 내 첫 번째 p에 bold체 적용 */
section.features .item-container div p:nth-of-type(1) {
  font-weight: bold;
}
/* features의 item-container 내 div 요소에 마우스를 올리면 그림자 발생 */
section.features .item-container div:hover {
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
  transition-duration: 0.3s;
}

/* ------------------------------------------------- */
/* section.portfolio 관련 스타일 */
/* portfolio-container 내 portfolio-wrapper 요소 스타일 */
div.portfolio-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* portfolio-wrapper 안의 dropdown-wrapper와 dropdown-detail를 감싸는 스타일 */
div.portfolio-wrapper {
  display: block;
  border: 0.5px solid var(--black);
  border-radius: 15px;
  width: 100%;
  margin-bottom: 15px;
}
div.portfolio-wrapper:hover {
  /* transform: scale(1.03); */
  background-color: #dfdfdf;
  transition-duration: 0.3s;
}
/* portfolio 썸네일과 제목, 상세보기 버튼이 담긴 wrapper 스타일 */
div.dropdown-wrapper {
  display: flex;
  width: 100%;
}
/* portfolio 썸네일 스타일 */
div.dropdown-wrapper div {
  flex: 0.3;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
}
/* portfolio 제목 스타일 */
div.dropdown-wrapper p {
  display: block;
  flex: 1;
}
/* portfolio 상세정보 텍스트 스타일 */
div.dropdown-detail p {
  margin: auto 15px;
}
/* div.dropdown-detail을 보여줬다 껐다 하기 위한 클래스 */
.hide {
  display: none;
}
/* ------------------------------------------------- */

/* fixed 백그라운드 이미지 */
body div.fixed-bg {
  position: relative;
  background: url("../img/codingImg.jpg") center center;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
  width: 100%;
  z-index: 0;
}
body div.fixed-bg div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* scrollIntoView함수 결과가 상단바와 충돌해서 필요한 작업, 
margin을 상단바보다 키우고 padding을 그만큼 음수로 맞춰준다. */
section > div > h4 {
  display: block;
  margin-top: 65px;
  padding-top: -65px;
}

/* ------------------------------------------------- */
/* contact 컴포넌트 스타일 */

/* info-container와 form-container를 좌우로 배치 */
.contact-container {
  display: flex;
  margin-top: 20px;
}
/* info-container는 좌측에 0.35만큼 배치 */
.info-container {
  /* border: 1px solid blue; */
  flex: 0.4;
  margin-right: 20px;
  height: 600px;
}
/* form-container는 우측에 0.65만큼 배치 */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--secondary-text);
  flex: 0.6;
  margin-left: 20px;
  height: 550px;
}
/* info-wrapper는 아이콘과 텍스트를 좌우로 배치 */
.info-wrapper {
  border-bottom: 0.5px solid var(--secondary-text);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* 마지막 info-wrapper에는 하단에 선 없애기 */
.info-wrapper:last-child {
  border-bottom: none;
}
/* info-wrapper 내부 아이콘 크기 조절 */
.info-wrapper i {
  font-size: 30px;
}
.info-wrapper i.fa-school {
  font-size: 26px;
}
/* info-wrapper 내 div 내의 p 사이즈 조절 */
.info-wrapper div p:nth-of-type(1) {
  font-weight: bold;
}
.info-wrapper div p:nth-of-type(2) {
  font-size: 16px;
}
/* form 내부 요소를 묶는 div 스타일링 */
.form-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
/* form 내부 요소의 label 폰트를 bold로 변경 */
.form-wrapper label {
  font-weight: bold;
  margin-bottom: 5px;
}
/* 이름, 제목을 입력받는 input 태그와 textarea 태그 스타일 */
.form-wrapper input,
.form-wrapper textarea {
  height: 40px;
  border-radius: 15px;
  border: 0.5px solid var(--secondary-text);
  background-color: var(--primary-bg);
  padding: 15px;
}
.form-wrapper textarea {
  height: 250px;
}
/* 제출 버튼 관련 스타일링 */
.form-wrapper input[type="submit"] {
  font-weight: bold;
  padding: 0;
}
.form-wrapper input[type="submit"]:hover {
  background-color: var(--secondary-text);
  color: var(--primary-bg);
  transition: all 0.7s;
}
/* ------------------------------------------------- */

/* footer 스타일 */
footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
}
footer p,
footer address,
footer h1,
footer ul li a {
  color: var(--primary-text);
  padding: 5px;
}
.footer-container {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--secondary-text);
}
.footer-wrapper ul {
  display: flex;
  align-items: center;
}
.footer-wrapper ul li {
  margin-left: 12px;
}
.footer-wrapper ul li a {
  font-size: 13px;
}
.footer-wrapper ul li:hover {
  transform: scale(1.15);
  transition: all 0.3s;
}
.footer-wrapper h1 {
  font-size: 25px;
}

.footer-addr-wrapper address {
  margin-top: 10px;
  font-size: 13px;
}
.footer-addr-wrapper p {
  font-size: 10px;
  margin-bottom: 10px;
}
.footer-info-wrapper {
  margin: 0px;
  padding: 0px;
  margin-top: 2px;
}
.footer-info-wrapper p {
  margin-top: 1px;
  margin-bottom: 1px;
  margin: 0px;
}

/* ------------------------------------------------- */
/* 반응형 디자인 */
/* 모바일 (최대 500px) */
@media (max-width: 500px) {
  /* 전체적으로 폰트 크기 줄이기 */
  header nav h1 {
    font-size: 15px;
  }
  header nav div a {
    font-size: 9px;
  }
  body section h1 {
    font-size: 25px;
  }
  body section h2 {
    font-size: 20px;
  }
  body section h3 {
    font-size: 11px;
  }
  body section h4 {
    font-size: 15px;
  }
  body section p {
    font-size: 10px;
  }
  i {
    font-size: 25px;
  }
  /* 모든 section 내 div의 가로 폭 지정 */
  body section div {
    width: 95%;
  }
  /* 데스크톱 UI에선 가로로 되어있는 contact 컴포넌트 배치를 세로로 변경*/
  .contact-container {
    flex-direction: column;
  }
  .info-container {
    margin: 1px auto;
    margin-bottom: 15px;
  }
  /* info-wrapper 내부 아이콘 크기 조절 */
  .info-wrapper i {
    font-size: 20px;
  }
  .info-wrapper i.fa-school {
    font-size: 18px;
  }
  /* info-wrapper 내 div 내의 p 사이즈 조절 */
  .info-wrapper div p:nth-of-type(1) {
    font-size: 13px;
    font-weight: bold;
  }
  .info-wrapper div p:nth-of-type(2) {
    font-size: 11px;
  }
  /* form container 중앙 정렬 */
  .form-container {
    width: 95%;
    margin: 1px auto;
    padding-bottom: 15px;
  }
  /* form 내부 요소의 label 폰트를 bold로 변경하고 크기 조절 */
  .form-wrapper label {
    font-size: 13px;
    font-weight: bold;
  }
  /* footer 폰트 크기 조절 */
  .footer-container {
    width: 90%;
  }
  .footer-wrapper ul li a {
    font-size: 8px;
  }
  .footer-wrapper h1 {
    font-size: 13px;
  }
  .footer-wrapper h1 a {
    font-size: 13px;
  }
  .footer-addr-wrapper address {
    font-size: 6px;
    margin-top: 3px;
    padding-bottom: 3px;
  }
  .footer-addr-wrapper p {
    font-size: 5px;
    padding-top: 0px;
  }
}

/* ------------------------------------------------- */
/* 작은 태블릿 (500px ~ 768px) */
@media (min-width: 500px) and (max-width: 768px) {
  /* 전체적으로 폰트 크기 줄이기 */
  header nav h1 {
    font-size: 20px;
  }
  header nav div a {
    font-size: 14px;
  }
  body section h1 {
    font-size: 30px;
  }
  body section h2 {
    font-size: 25px;
  }
  body section h3 {
    font-size: 16px;
  }
  body section h4 {
    font-size: 20px;
  }
  body section p {
    font-size: 15px;
  }
  i {
    font-size: 30px;
  }
  /* 모든 section 내 div의 가로 폭 지정 */
  body section div {
    width: 85%;
  }
  /* 데스크톱 UI에선 가로로 되어있는 contact 컴포넌트 배치를 세로로 변경*/
  .contact-container {
    flex-direction: column;
  }
  .info-container {
    margin: 1px auto;
    margin-bottom: 15px;
  }
  /* info-wrapper 내부 아이콘 크기 조절 */
  .info-wrapper i {
    font-size: 25px;
  }
  .info-wrapper i.fa-school {
    font-size: 23px;
  }
  /* info-wrapper 내 div 내의 p 사이즈 조절 */
  .info-wrapper div p:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
  }
  .info-wrapper div p:nth-of-type(2) {
    font-size: 16px;
  }
  /* form container 중앙 정렬 */
  .form-container {
    width: 85%;
    margin: 15px auto;
    padding-bottom: 15px;
  }
  /* form 내부 요소의 label 폰트를 bold로 변경하고 크기 조절 */
  .form-wrapper label {
    font-size: 18px;
    font-weight: bold;
  }
  /* 제출 버튼 폰트 크기 조절 */
  .form-wrapper input[type="submit"] {
    font-size: 18px;
    font-weight: 500;
  }
  /* footer 폰트 크기 조절 */
  .footer-wrapper ul li a {
    font-size: 13px;
  }
  .footer-wrapper h1 {
    font-size: 20px;
  }
  .footer-wrapper h1 a {
    font-size: 20px;
  }
  .footer-addr-wrapper address {
    font-size: 12px;
    margin-top: 3px;
    padding-bottom: 3px;
  }
  .footer-addr-wrapper p {
    font-size: 10px;
    padding-top: 0px;
  }
}

/* 태블릿 (769px ~ 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* 전체적으로 폰트 크기 줄이기 */
  header nav h1 {
    font-size: 20px;
  }
  header nav div a {
    font-size: 14px;
  }
  body section h1 {
    font-size: 35px;
  }
  body section h2 {
    font-size: 30px;
  }
  body section h3 {
    font-size: 21px;
  }
  body section h4 {
    font-size: 25px;
  }
  body section p {
    font-size: 17px;
  }
  i {
    font-size: 35px;
  }
  /* 모든 section 내 div의 가로 폭 지정 */
  body section div {
    width: 80%;
  }
  /* footer 폰트 크기 조절 */
  .footer-container {
    width: 80%;
  }
  .footer-wrapper ul li a {
    font-size: 15px;
  }
  .footer-wrapper h1 {
    font-size: 23px;
  }
  .footer-wrapper h1 a {
    font-size: 23px;
  }
  .footer-addr-wrapper address {
    font-size: 14px;
    margin-top: 3px;
    padding-bottom: 3px;
  }
  .footer-addr-wrapper p {
    font-size: 12px;
    padding-top: 0px;
  }
}
